alembic==1.9.4
anyio==3.6.2
async-timeout==4.0.2
beautifulsoup4==4.11.2
bs4==0.0.1
cleo==0.8.1
click==8.1.3
clikit==0.6.2
colorama==0.4.6
crashtest==0.3.1
Faker==13.16.0
fastapi==0.92.0
graphql-core==3.2.3
greenlet==2.0.2
h11==0.14.0
idna==3.4
inflection==0.5.1
JSON-log-formatter==0.5.1
Mako==1.2.4
MarkupSafe==2.1.2
mysql-connector-python==8.0.32
mysqlclient==2.1.1
pastel==0.2.1
pendulum==2.1.2
protobuf==3.20.3
pydantic==1.10.5
pylev==1.4.0
python-dateutil==2.8.2
python-dotenv==0.21.1
python-multipart==0.0.5
pytzdata==2020.1
redis==4.5.1
schedule==1.1.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a32
sqlmodel==0.0.8
starlette==0.25.0
strawberry-graphql==0.159.0
typing_extensions==4.5.0
uvicorn==0.20.0
